#menu-bar {
    background-color:khaki !important;
    align-items: stretch;
}
.navbrand span{
    color: red;
    text-shadow: lawngreen;
    font-weight: 900;
    font-family: cursive;    
}
.navbrand{
   font-weight: 900;
   font-size: 1.6em;
   text-shadow: cornsilk;
   background-color:transparent;
   float: left;
   padding-right: 35px;
   }
#nav ul li a{
    color: green;
    align-items: right;    
    padding:15px;
    height: auto;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
section{
    padding: 0px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 2px;
    font-family: 'Ubuntu', sans-serif;
}
section .subtitle{
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    padding-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
}
.home{    
    background-image: url("https://netstorage-tuko.akamaized.net/images/cdab58b042b70a6a.jpg?imwidth=900");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: lighten;
    display: flex;     
    height: 100px;
    color:red;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
  
}
.home .max-width{
  width: 100%;
  
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
    text-decoration: yellow;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    text-decoration: yellow;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    text-decoration: yellow;
}
.home .home-content a{
    display: inline-block;
    background: green;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 26px;
    border: 2px solid green;
    
}
.home .home-content a:hover{
    color: blue;
    background: green;
}
.about .about-content .left{
    width: 25%;
    float: left;
}
.about .about-content .left img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 75%;
    float: right;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right p{
    text-align: left;
    
}
.skills .max-width{
    width: 100%;
       
}
.skills column{
    width: 33.33%;
    float: left;
}
.skills ul li {
    list-style: none;    

}

.skills ul,li,.subtitle{
 background-color: wheat;
}
