#menu-bar {
    background-color:khaki !important;
    align-items: stretch;
}
.navbrand span{
    color: red;
    text-shadow: lawngreen;
    font-weight: 900;
    font-family: cursive;    
}
.navbrand{
   font-weight: 900;
   font-size: 1.6em;
   text-shadow: cornsilk;
   background-color:transparent;
   float: left;
   padding-right: 35px;
   }
#nav ul li a{
    color: green;
    align-items: right;    
    padding:15px;
    height: auto;
}

